<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThankU</title>
    <link rel="stylesheet" href="~/css/payNotenough/reset.css">
    <link rel="stylesheet" href="~/css/payNotenough/style.css">
</head>
<body>
    <main class="main">
        <div class="container">
            <h1>Что-то пошло не так</h1>
            <p>Неудалось произвести оплату, недостаточно средств.</p>
            <p>Вы можете перейти на <a href="D:\Apostol\main\index.html">главную страницу</a>  или вернуться к <a href="D:\Apostol\pay\index.html">оплате</a>.</p>
        </div>
    </main>
</body>
</html>