<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThankU</title>
    <link rel="stylesheet" href="reset.css"> 
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
  <header class="header">
    <div class="container  header__container">
        <h1 class="logo">ThankU</h1>
        <nav class="header__nav">
            <ul>
                <li><a href="#!">Поддержка</a></li>
                <li><a href="#!">FAQ</a></li>
                <li><a href="#!">Профиль</a></li>
            </ul>
        </nav>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <div class="heading">
        <h2>Меню заведения</h6>
      </div>

      <div class="menu-cat">
        <div class="menu-cat__form">
          <div class="menu-cat__elem">
            <div class="dish"><p>Котлета</p></div>
            <div class="price"><p>100</p></div>
          </div>
        </div>
        <div class="menu-cat__form">
          <div class="menu-cat__elem">
            <div class="dish"><p>Борщ</p></div>
            <div class="price"><p>90</p></div>
          </div>
        </div>
        <div class="menu-cat__form">
          <div class="menu-cat__elem">
            <div class="dish"><p>Чай</p></div>
            <div class="price"><p>10</p></div>
          </div>
        </div>
      </div>

    </div>
  </main>


</body>
</html>