<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThankU</title>
    <link rel="stylesheet" href="~/css/payError/reset.css">
    <link rel="stylesheet" href="~/css/payError/style.css">
</head>
<body>
    <header class="header">
        <div class="container  header__container">
            <h1 class="logo">ThankU</h1>
            <nav class="header__nav">
                <ul>
                    <li><a href="#!">Поддержка</a></li>
                    <li><a href="#!">FAQ</a></li>
                    <li><a href="#!">Профиль</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <h1>Что-то пошло не так</h1>
            <div class="filling">
                <p>Неудалось произвести оплату, ошибка на стороне банка.</p>
                <p>Вы можете перейти на <a href="D:\Apostol\main\index.html">главную страницу</a>  или вернуться к <a href="D:\Apostol\pay\index.html">оплате</a>.</p>
            </div>
        </div>
    </main>
</body>
</html>