<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThankU</title>
    <link rel="stylesheet" href="~/css/paySucces/reset.css">
    <link rel="stylesheet" href="~/css/paySucces/style.css">
</head>
<body>
    <header class="header">
        <div class="container  header__container">
            <h1 class="logo">ThankU</h1>
            <nav class="header__nav">
                <ul>
                    <li><a href="#!">Поддержка</a></li>
                    <li><a href="#!">FAQ</a></li>
                    <li><a href="#!">Профиль</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <h1>Оплата произведена успешно</h1>
            <p>Сотрудник получил свои чаевые.</p>
            <p>Вы можете перейти на <a href="/Main/Index">главную страницу</a></p>
        </div>
    </main>
</body>
</html>