<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/signIn/reset.css">
    <link rel="stylesheet" href="~/css/signIn/style.css">
</head>
<body>
  <header class="header">
    <div class="container  header__container">
        <h1 class="logo">ThankU</h1>
        <nav class="header__nav">
            <ul>
                <li><a href="#!">Поддержка</a></li>
                <li><a href="#!">FAQ</a></li>
                <li><a href="#!">Профиль</a></li>
            </ul>
        </nav>
    </div>
  </header>
  
  <main class="main">
    <form action="action_page.php">
      <div class="container">
        <h1>Вход</h1>
       
    
        <label for="login"><b>Логин</b></label>
        <input type="text" placeholder="Введите логин" name="login" required>
    
        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>

        <button type="submit" class="registerbtn">Войти</button>
      </div>
    
      <div class="container signin">
        <p>Нет подключенного заведения? <a href="D:\Apostol\reg\index.html">Подключить заведение</a>.</p>
      </div>
    </form>
  </main>
</body>
</html>