<!DOCTYPE html>
<html>
	<body>
    <header class="header">
        <div class="container  header__container">
            <h1 class="logo">ThankU</h1>

            <nav class="header__nav">
                <ul>
                    <li><a href="#!">Поддержка</a></li>
                    <li><a href="#!">FAQ</a></li>
                    <li>
                        <form method="post" action="/Sign/SignIn">
                            <button type="submit"> Авторизация </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
	</body>
</html>
